<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MatrixesDb.Properties.Settings.Setting" connectionString="Data Source=R-KUCHARSKI2;Initial Catalog=matrixes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>